@font-face {
    font-family: 'chickadeeregular';
    src: url('../fonts/chickadee_free-webfont.woff2') format('woff2'),
         url('../fonts/chickadee_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}