// Layout
$max-width: 1200px;
$bp-medium: 768px;
$bp-large: 992px;
$marge: 15px;

// Typos
$font-default: 'Raleway',
sans-serif;
$font-title: 'chickadeeregular',
$font-default;

// Colors
$orange: #ee7623;
$gray:#717171;
$white: #ffff;

$link-color: $orange;
$link-color: $gray;
$link-color: $white;